{% extends "base.html" %} 
{% block title %}Common Deviations{% endblock %}

{% block content %}

<div style="margin:auto; width:60%;">
    
    <br>
    <h1 class="page_heading">Common Deviations</h1>
    <br>
    
    <br>
    <hr style="width:100%; color:black">


    <h2 style="color: lightgray; text-shadow: 2px 2px black; font-size:24px">   
    An advantaged player is able to be profitable should they bet with a proper bet spread and 
    play only according to basic strategy. It is recommended that players not focus on playing 
    deviations initially and should instead perfect basic strategy. However, should an 
    advantaged player want to squeeze maximal value out of card counting, they must also 
    master the most profitable deviations from basic strategy. “Roughly 60-80% of a card 
    counter’s edge comes from perfect basic strategy, perfect counting, and perfectly betting 
    according to the true count. Then, Deviations account for the remaining 20-40%.” [1] The 
    following figure is of the Illustrious 18 which are the 18 most profitable playing 
    deviations in Blackjack. The order starts with the post profitable deviation.
    </h2>

    <br>

    <img src="/static/images/Counting1.png" alt="Figure 1"> 
    <h2 style="color: lightgray; text-shadow: 2px 2px black; font-size:24px">
    Figure 1: 18 most valuable playing deviations. [2]
    </h2>

    <br>

    <h2 style="color: lightgray; text-shadow: 2px 2px black; font-size:24px">
    The following figure depicts the 4 most profitable surrender plays called the Fab 4 by author Stanford Wong.
    </h2>

    <br>

    <img src="/static/images/Counting2.png" alt="Figure 2"> 
    <h2 style="color: lightgray; text-shadow: 2px 2px black; font-size:24px">
    Figure 2: 4 most valuable surrender deviations. [2]
    </h2>
    

    <hr style="width:100%; color:black"> 

    <br>

    <h2 class="page_heading">References</h2>

    <br>

    <h2 style="color: lightgray; text-shadow: 2px 2px black; font-size:24px">
    1. Colin Jones. “What are Blackjack Deviations?” Blackjack Apprenticeship, 3 Aug. 2021, https://www.Blackjackapprenticeship.com/Blackjack-deviations/
    </h2>

    <br>

    <h2 style="color: lightgray; text-shadow: 2px 2px black; font-size:24px">
    2. Michael Shackleford. “Introduction to the High-Low Card Counting Strategy” The Wizard of Odds, 13 Aug.2019, https://wizardofodds.com/games/Blackjack/card-counting/high-low/.
    </h2>
</div>

{% endblock %}