{% extends "base.html" %} 
{% block title %}Casino Etiquette{% endblock %}

{% block content %}

<div style="margin:auto; width:60%;">

    <br>
    <h1 class="page_heading">Casino Etiquette</h1>
    <br>
    
    <br>
    <hr style="width:100%; color:black">

    <h2 style="color: lightgray; text-shadow: 2px 2px black; font-size:24px">
        <b>General Tips</b>:
        <ul>
            <li>Don't convert smaller chips into larger chips.</li>
            <li>Never touch your original bet after the first card is dealt.</li>
            <li>If you are upping your bet, put the chips next to your original bet, not on top of it.</li>
            <li>Never touch your cards.</li>
            <li>Exchange cash for chips before you start playing, not during.</li>
            <li>Be respectful.</li>
        </ul>
    </h2>

    <hr style="width:100%; color:black">

    <h2 style="color: lightgray; text-shadow: 2px 2px black; font-size:24px">
        <b>Hand Signals</b>: Casinos can be very crowded and noisy places, thats why hand signals are 
        often used over verbal indicators when playing Blackjack. Each action has its own unique hand 
        signal that will alert the dealer to which action you want to perform.

        <br>
        <ul>
            <li><b>Hit</b>: Tap the table with your finger.</li>
            <li><b>Stand</b>: Wave your hand over your cards.</li>
            <li><b>Double</b>: Place a pile of chips equal to your original bet outside the betting circle, and point at your hand with one finger. Some casinos also access tapping the table twice as an appropriate gesture for doubling.</li>
            <li><b>Split</b>: Place a pile of chips equal to your original bet outside the betting circle, and make a 'V' shape with your pointer and middle fingers.</li>
            <li><b>Surrender</b>: There is no standard hand signal for surrendering. If you wish to surrender, you can verbally state so, as well as making a horizontal line with your pointer finger between your hand and the dealers hand.</li>
            <li><b>Insurance</b>: There is no standard hand signal for insurance. If you want insurance, you must verbally state so.</li>
        </ul>
    </h2>

    <hr style="width:100%; color:black">

    <h2 style="color: lightgray; text-shadow: 2px 2px black; font-size:24px">
        <b>Seat Positioning</b>: At a Blackjack table, there are normally 7 seats, and cards are dealt from right to left. For those who aren't card counting, it doesnt matter where you sit, but for card counters, there are 3 notable positions at the table.

        <ul>
            <li><b>First Base</b>: The first seat on the right, and the first seat that receives cards. If you sit at this position, other players may blame you for what they draw.</li>
            <li><b>Third Base</b>: The first seat on the left, and the last seat that receives cards. This is considered to be the best seat for card counters. If you sit at this position, other players at the table may blame you for their losses depending on what the dealer draws.</li>
            <li><b>Shortstop</b>: The seat in the middle of the table. Sitting at this seat can sometimes dissuade other players from taking up the last 3 seats at the table.</li>
        </ul>

    </h2>

    <hr style="width:100%; color:black">

    <h2 style="color: lightgray; text-shadow: 2px 2px black; font-size:24px">
        <b>Common Superstitions</b>: There are many superstitions and false information that get passed around at a Blackjack table.
        <ul>
            <li>The Martingale system is not sustainable, and should be avoided.</li>
            <li>Players sitting at third base can't "take" the dealers card, just as players that sit at first base can't "take" other players cards. These supersitions can largely be attributed to confirmation bias.</li>
            <li>Insurance and Even Money are often bad bets.</li>
            <li>There are no such things as good luck charms, and theres nothing thats going to give you worse luck.</li>
        </ul>

    </h2>

    <hr style="width:100%; color:black">


</div>

{% endblock %}